<header id="header">
    <nav class="header__nav">
        <figure class="header__logo-container">
            <img src=" {{ asset('images/logo/gamerswebp') }}">
        </figure>
        <div class="header__link-container">
            <a href="/newAnnouncement">
                Ajouter 
            </a>
            <a href="/user/{{ userId }}">
                Mon compte
            </a>
            <a href="/logout">
                Déconnexion
            </a>
        </div>
    </nav>
</header>